body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #009999;
}
.navbar-custombrand {
  color: #000ee0;
}